

/* menus -- leszekLike -- script2.css slim hamburger with bg */
/* menus -- leszekLike -- script3.css slim hamburger without bg */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Grid Mobile Portrait */

body {
    display: grid;
    grid-template-columns: 1fr;
}

body {
    /* border: 3px solid black; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    /* border: 3px solid lightgreen; */
    padding: 1rem;
    /* transition: all 0.5s ease-out 0.4s; */
    /* background-color: #eff6ff; */
    /* background-color: #f0f9ff; */
}

nav {
    /* border: 3px solid firebrick; */
    display: flex;
    flex-direction: column;
}

/* Right Side Cross */

.btn {
    height: 26px;
    width: 26px;
    cursor: pointer;
    z-index: 2;
    align-self: flex-end;
}

.btn div {
    height: 4px;
    /* background: #1450A3; */
    background: #337CCF;
    margin: 4px auto;
    border-radius: 4px;
    transition: all 0.3s;
}

.change .one {
    transform: rotate(45deg) translate(5px, 4px);
    /* background-color: white; */
    background-color: #337CCF;
}

.change .two {
    opacity: 0;
    background-color: white;
}

.change .three {
    transform: rotate(-45deg) translate(7px, -7px);
    /* background-color: white; */
    background-color: #337CCF;
}

ul {
    /* border: 2px solid orangered; */
    display: none;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    /* transition: all 0.5s ease-out 0.4s; */
    padding: 1rem;
    /* font-weight: 500; */
    font-weight: 600;
    font-size: 1.1875rem;
    /* font-size: 1.25rem; */
    letter-spacing: 1px;
}

ul li {
    /* border: 2px solid orange; */
    padding: 0.5rem;
}

ul li a {
    /* color: white; */
    color: #337CCF;
    text-decoration: none;
}

/* Menu */

header.open {
    /* background: #6375FF; */
    background-color: white;
    /* background-color: #eff6ff; */
}

ul.open {
    /* right: 0; */
    display: block;
}

main {
    border: 3px solid plum;
    display: flex;
    flex-direction: column;
}

main div {
    border: 2px solid black;
}

.photo {
    display: flex;
    justify-content: center;
}

.photo img {
    border: 2px solid red;
    width: 10rem;
    height: 11rem;
}

/* img {
    margin: 0 auto;
} */

.robert {
    border-radius: 10px;
    padding: 0.5em;
    filter: grayscale(90%);
    filter: opacity(70%);
    /* margin: 0 auto; */
}

.projects {
    height: 5rem;
}

@media only screen and (orientation: landscape) {
    
    /* Grid Mobile Landscape */

    /* body {
        border: 3px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */

    header {
        /* transition: all 0.5s ease-out 0.4s; */
        /* padding: 2rem 0 2rem 0; */
    }

    nav {
        /* border: 2px solid orange; */
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .btn {
        /* border: 2px solid plum; */
        align-self: center;
    }

    .navbar {
        /* border: 2px solid lightblue; */
        margin: 0 auto;
    
    }

    ul {
        /* border: 2px solid plum; */
        /* display: flex; */
        /* flex-direction: row; */
        /* justify-content: space-around; */
        /* justify-content: center; */
        /* position: relative; */
        /* right: -100rem; */
        /* width: 70%; */
        width: 100%;
        margin: 0 auto;
        font-size: 1.125rem;
        padding: 0;
    }

    ul li {
        margin: 0 0.5rem 0 0.5rem;
    }

    ul.open {
        /* border: 2px solid gold; */
        display: flex;
        /* display: block; */
    }
}

@media screen and (min-width: 900px) {
    
    /* Desktop Grid */

    body {
        display: grid;
        grid-template-columns: 1fr minmax(80%, 90%) 1fr;
    }
    
    header, nav, main, footer {
        grid-column: 2 / 3;
    }

    body {
        /* background-color: lightgreen; */
    }

    header {
        padding: 3rem 0 3rem 0;
    }

    .btn {
        display: none;
    }

    ul {
        display: flex;
    }

    ul li {
        /* border: 2px solid orange; */
        margin: 0 1rem 0 1rem;
        padding: 2px 8px 2px 8px;
    }

    ul li a:hover {
        color: #1e40af;
    }

    /* Vertical Bars in Front of Menu Items */

    li {
        /* Create a stacking context */
        position: relative; 
        /* Adjust as needed for the width of the vertical bar */
        /* padding: 0;  */
    }

    li::before {
        /* Create an empty pseudo-element */
        content: ''; 
        position: absolute;
        top: 0;
        left: 0;
        /* Adjust the width of the vertical bar */
        width: 3px; 
        /* Vertical bar covers the entire height of the <li> */
        height: 100%; 
        /* Initially set the bar as transparent */
        background-color: transparent; 
        /* Add a transition effect for hover */
        transition: background-color 0.3s; 
    }

    /* Show the vertical bar on hover */
    li:hover::before {
        /* Change the color on hover */
        background-color: #d1d5db; 
    }

    li.active::before {
        background-color: #337CCF;
    }

}


@media screen and (min-width: 1152px) {
    
    body {
        background-color: lightcoral;
    }

    ul li {
        margin: 0 2rem 0 2rem;
    }
}

/* menus experiment script1.css hamburger fat with bg */

/* *,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

/* html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

/* header {
    padding: 1rem;
} */

/* nav {
    display: flex;
    flex-direction: column;
} */

/* Right Side Cross */

/* .btn {
    height: 28px;
    width: 28px;
    cursor: pointer;
    z-index: 2;
    align-self: flex-end;
} */

/* .btn div {
    height: 5px;
    background: #1450A3;
    margin: 4px auto;
    border-radius: 4px;
} */

/* .change .one {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: white;
} */

/* .change .two {
    opacity: 0;
    background-color: white;
} */

/* .change .three {
    transform: rotate(-45deg) translate(7px, -8px);
    background-color: white;
} */

/* ul {
    display: none;
    list-style-type: none;
    font-family: 'Lato', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    /* transition: all 0.5s ease-out 0.4s;
    padding: 1rem;
    font-weight: 800;
    font-size: 1.1875rem;
    letter-spacing: 1px;
} */

/* ul li {
    padding: 0.5rem;
} */

/* ul li a {
    color: white;
    text-decoration: none;
} */

/* Menu */

/* header.open {
    background: #6375FF;
} */

/* ul.open {
    right: 0;
    display: block;
} */

/* @media only screen and (orientation: landscape) {
    
    body {
        background-color: lightblue;
    }

    header {
        transition: all 0.5s ease-out 0.4s;
    }

    nav {
        flex-direction: row-reverse;
    }

    .btn {
        align-self: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        right: -100rem;
        width: 100%;
        margin: 0 auto;
    }

    ul li {
        margin: 0 0.5rem 0 0.5rem;
    }

    ul.open {
        display: flex;
    }
} */

/* @media screen and (min-width: 900px) {
    
    body {
        background-color: lightgreen;
    }

    ul li {
        margin: 0 1rem 0 1rem;
    }
} */

/* @media screen and (min-width: 1152px) {
    
    body {
        background-color: lightcoral;
    }

    ul li {
        margin: 0 2rem 0 2rem;
    }
} */



/* Left Side Cross */

/* .btn {
    cursor: pointer;
    width: 28px;
}

.btn div {
    height: 5px;
    background-color: #1450A3;
    border-radius: 4px;
    margin: 4px 0;
    transition: 0.4s;
}

.change .one {
    transform: translate(0, 7px) rotate(-45deg);
}

.change .two {
    opacity: 0;
}

.change .three {
    transform: translate(0, -11px) rotate(45deg);
} */