
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
}

header {
    /* border: 3px solid black; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.8em 1.6em;
    transition: all 0.5s ease-out 0.4s;
    width: 100%;
}

ul {
    /* border: 2px solid orangered; */
    list-style-type: none;
    opacity: 0;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 1rem; */
    transition: all 0.5s ease-out 0.4s;
    /* text-transform: uppercase; */
    font-weight: 600;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.125rem;
} 

ul a {
    color: white;
    text-decoration: none;
}

ul li {
    /* border: 2px solid orange; */
    padding: 0.5rem;
    margin-left: -1.5rem;
}

/* Right Side Cross */

.btn {
    height: 28px;
    width: 28px;
    cursor: pointer;
    position: absolute;
    /* top: 1.9rem; */
    top: 1.5rem;
    /* right: 2.5rem; */
    right: 1.875rem;
    z-index: 2;
}

.btn div {
    height: 5px;
    background: #1450A3;
    margin: 4px auto;
    border-radius: 4px;
    transition: all 0.3s;
}

.change .one {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: white;
}

.change .two {
    opacity: 0;
    background-color: white;
}

.change .three {
    transform: rotate(-45deg) translate(7px, -8px);
    background-color: white;
}

/* Menu */

header.open {
    background: #6375FF;
}

ul.open {
    right: 0;
    opacity: 1;
}

/* Toggle Initial Top */

.initial {
    position: relative;
    top: 6rem;
    transition: all 0.5s ease-out 0.4s;
}

.position {
    /* display: none; */
    position: relative;
    top: 13rem;
    
}

main {
    /* border: 3px solid plum; */
    margin: 0;
    padding: 0;
}

@media only screen and (orientation: landscape) {
    
    body {
        background-color: lightgreen;
    }

    .btn {
        top: 2rem;
        right: 2.5rem;
    }

    ul {
        /* border: 2px solid orangered; */
        /* top: .1em; */
        right: -30em;
        /* width: 30em; */
        /* opacity: 0; */
        /* background: 0; */
        position: relative;
        /* padding-bottom: 2rem; */
        /* width: 40rem; */
        margin-left: 5rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    ul li {
        /* border: 2px solid black; */
        /* float: left; */
        display: inline-block;
        width: 20%;
        margin: 0rem 1rem;
        padding: 5px;
        /* padding: 0; */
        /* padding-top: 2px; */
        /* border: 0 none; */
        text-align: center;
        text-indent: 0;
    }

    ul li:first-child {
        margin-left: -1rem;
    }

    .position {
        /* display: none; */
        position: relative;
        top: 9rem;
        
    }
}

@media screen and (min-width: 64rem) {
    
    body {
        background-color: lightcoral;
    }

    ul {
        margin-left: 15rem;
        /* max-width: 40rem; */
    }

    .btn:hover {
        opacity: 0.8;
    } 
}



/* Left Side Cross */

/* .btn {
    cursor: pointer;
    width: 28px;
}

.btn div {
    height: 5px;
    background-color: #1450A3;
    border-radius: 4px;
    margin: 4px 0;
    transition: 0.4s;
}

.change .one {
    transform: translate(0, 7px) rotate(-45deg);
}

.change .two {
    opacity: 0;
}

.change .three {
    transform: translate(0, -11px) rotate(45deg);
} */