
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Grid Mobile Portrait */

body {
    display: grid;
    grid-template-columns: 1fr;
}

body {
    /* border: 3px solid white; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* background-color: #64748b; */
    background-color: #020617;
    /* color: #f8fafc; */
    /* line-height: 1.56rem; */
    font-size: 17px;

}

header, main, footer {
    /* border: 2px solid black; */
    margin: 1rem 0rem;
    padding: 0.5rem;
}

header, footer {
    /* border: 2px solid white; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header ul, footer ul {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

header ul li, footer ul li {
    /* border: 2px solid orange; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
}

a {
    text-decoration: none;
    color: #6b7280;
}

a:hover {
    color: #f8fafc;
}

i {
    /* border: 2px solid green; */
    font-size: 1.6rem;
    font-weight: 900;
    color: #f8fafc;
    
}

ul li a {
    /* border: 2px solid white; */
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    /* color: #d1d5db; */
    color: #f8fafc;
    align-self: flex-end;
}

ul li a:hover, i:hover {
    color: #cbd5e1;
}

li:first-child {
    /* flex: 1; */
    flex-basis: 80%;
    /* width: 80%; */
}

li:nth-child(2) {
    flex-basis: 10%;
    /* align-self: flex-end; */
    /* width: 10%; */
}

li:last-child {
    flex-basis: 10%;
    justify-content: center;
    /* width: 10%; */
}

main {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
    color: #e5e7eb;
}

footer ul {
    display: flex;
    /* justify-content: space-between; */
}

.web, .work {
    /* border: 2px solid white; */
    font-family: 'Noto Serif', serif;
    /* font-family: 'Noto Sans', sans-serif; */
    font-weight: 600;
    /* line-height: 32px; */
    /* color: #d1d5db; */
    color: #6b7280;
    margin: 1rem 0;
    padding: 2rem 0;
}

.web {
    font-size: 4rem;
    /* line-height: 6rem; */
    margin-bottom: 2rem;
}

div.learn > p {
    line-height: 1.56rem;
    margin: 1rem 0;
}

.work {
    font-size: 2.4rem;
}

.tw, .samples {
    font-weight: 600;
    color: #cbd5e1;
}

.tw:hover, .samples:hover {
    color: #e5e7eb;
}

.tw {
    font-family: 'Dancing Script', serif;
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin: 0 8px;
}

.samples {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.56rem;
}

.presently {
    margin-top: 2rem;
    line-height: 1.56rem;
}

.cv {
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 600;
}




/* @media only screen and (orientation: landscape) */
@media screen and (min-width: 640px) {
    /* Grid Mobile Landscape */

    /* body {
        border: 3px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */

    
}

@media screen and (min-width: 768px) {

    /* Desktop Grid */

    body {
        display: grid;
        grid-template-columns: 1fr minmax(80%, 90%) 1fr;
    } 
    
    header, main {
        grid-column: 2 / 3;
    }

    footer {
        grid-column: 1 / 4;
    }

    
}


@media screen and (min-width: 1024px) {
    
    /* Desktop Grid */

    body {
        display: grid;
        grid-template-columns: 1fr minmax(80%, 90%) 1fr;
    }
    
    header, main {
        grid-column: 2 / 3;
    }

    footer {
        grid-column: 1 / 4;
    }

    
}


@media screen and (min-width: 1280px) {
    
    /* Desktop Grid */

    body {
        display: grid;
        grid-template-columns: 1fr minmax(70%, 80%) 1fr;
    }
    
    header, main {
        grid-column: 2 / 3;
    }

    footer {
        grid-column: 1 / 4;
    }

    ul li {
        margin: 0 3rem;
    }

    .contact {
        width: 90%;
    }
}


